[Unit]
Description=refresh the wallpaper hud every 10 minutes

[Timer]
OnStartupSec=45
OnCalendar=*:0/10
AccuracySec=1min

[Install]
WantedBy=timers.target
